<strong>Recuperação de senha</strong>

<p>Uma solicitação de senha foi realizada para está email {{email}}</p>

<p> Para continar insira esse código {{token}} no link abaixo</p>

<a href="{{link}}"> Criar nova senha </a>
